@mixin rounded-corner($size, $y: 'top', $x: 'right') {
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: $size + px;
    height: $size + px;
    background-image: url('../../assets/images/icon/shape_rounded.svg');
    content: '';
  }

  @if ($y == top) {
    @if ($size < 20) {
      &::before {
        top: -2px;
        left: -$size + 2px;
      }

      &::after {
        right: -2px;
        bottom: -$size + 2px;
      }
    }

    @if ($size > 20) {
      &::before {
        top: -3px;
        left: -$size + 3px;
      }

      &::after {
        right: -3px;
        bottom: -$size + 3px;
      }
    }

    @if ($size > 30) {
      &::before {
        top: -4px;
        left: -$size + 4px;
      }

      &::after {
        right: -4px;
        bottom: -$size + 4px;
      }
    }
  }

  @if ($y == bottom and $x == right) {
    &::after,
    &::before {
      transform: rotate(90deg);
    }

    @if ($size < 20) {
      &::before {
        bottom: -2px;
        left: -$size + 2px;
      }

      &::after {
        top: -$size + 2px;
        right: -2px;
      }
    }

    @if ($size > 20) {
      &::before {
        bottom: -3px;
        left: -$size + 3px;
      }

      &::after {
        top: -$size + 3px;
        right: -3px;
      }
    }

    @if ($size > 30) {
      &::before {
        bottom: -4px;
        left: -$size + 4px;
      }

      &::after {
        top: -$size + 4px;
        right: -4px;
      }
    }
  }

  @if ($y == bottom and $x == left) {
    &::after,
    &::before {
      transform: rotate(180deg);
    }

    @if ($size < 20) {
      &::before {
        top: -$size + 2px;
        left: -2px;
      }

      &::after {
        right: -$size + 2px;
        bottom: -2px;
      }
    }

    @if ($size > 20) {
      &::before {
        top: -$size + 3px;
        left: -3px;
      }

      &::after {
        right: -$size + 3px;
        bottom: -3px;
      }
    }

    @if ($size > 30) {
      &::before {
        top: -$size + 4px;
        left: -4px;
      }

      &::after {
        right: -$size + 4px;
        bottom: -4px;
      }
    }
  }
}
