.customer-center-box {
  position: relative;
  display: block;
  flex-shrink: 1;
  width: 100%;
  height: 128px;
  padding: 16px 16px 52px;
  background: $bg-gray;
  border-radius: 12px;

  &:hover {
    .sub-text::after {
      opacity: 0.8;
    }
  }

  .title {
    display: inline-block;
    max-width: 80px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    word-break: keep-all;
  }

  .sub-text {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 0;

    /* arrow icon */
    &::after {
      display: block;
      width: 25px;
      height: 25px;
      background: url('../assets/icon/ic_circle_arrow_black_lg.svg') no-repeat;
      background-size: contain;
      content: '';
      transform: rotate(-45deg);
    }
  }

  .icon {
    display: none;
  }

  @include responsive(M) {
    height: 74px;
    padding: 24px;
    border-radius: 16px;

    .title {
      max-width: none;
      font-size: 17px;
    }

    .sub-text {
      right: 24px;
      bottom: 24px;
      left: auto;
    }
  }

  @include responsive(L) {
    height: 110px;
    border-radius: 20px;

    .sub-text {
      right: auto;
      bottom: 24px;
      left: 24px;
      font-size: 14px;
      line-height: 24px;

      /* arrow icon */
      &::after {
        position: absolute;
        top: 0;
        right: -33px;
        left: auto;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 24px;
      display: block;
      width: 60px;
      height: 60px;
      transform: translateY(-50%);
    }
  }

  @include responsive(XL) {
    height: 153px;
    padding: 36px 40px;

    .title {
      font-size: 26px;
    }

    .sub-text {
      bottom: 36px;
      left: 40px;
      font-size: 17px;
      line-height: 1.58;
    }

    .icon {
      right: 40px;
      width: 84px;
      height: 84px;
    }
  }
}
