.first-widget {
  display: flex;
  position: relative;
  margin-right: -100%;

  .content-01,
  .content-02 {
    width: 340px;
    flex-shrink: 0;
    height: 220px;
    overflow: hidden;
    border-radius: 24px;
    margin-right: 12px;
  }

  .slick-arrow {
    position: absolute;
    top: -40px;
    font-size: 0;
    width: 32px;
    height: 32px;

    &.slick-prev {
      background: url("../../assets/images/ico_slide_prev_01.svg") no-repeat;
    }

    &.slick-next {
      background: url("../../assets/images/ico_slide_next_01.svg") no-repeat;
      left: 40px;
    }
  }

  // .slick-dots {
  //   display: flex;
  //   position: absolute;
  //   top: 0px;
  //   left: 80px;
  // }

  .content-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $yellow;

    .inner-text {
      display: inline-block;
      margin-bottom: 4px;
      font-size: 13px;
    }

    .count-number {
      font-size: 36px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -0.1rem;
    }

    .count-text {
      font-size: 15px;
    }
  }

  .content-02 {
    background: url("../../assets/images/banner-impact.png") no-repeat;
    background-size: cover;
  }

  @include responsive(M) {
    width: 232px;
    margin-right: 0;

    .content-01,
    .content-02 {
      width: 232px;
      height: 232px;
      margin-right: 0;
    }

    .content-02 {
      background: url("../../assets/images/banner-impact-sm.webp") no-repeat;
      background-size: cover;
    }

    .slick-dots {
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      li {
        padding: 8px;

        button {
          display: block;
          font-size: 0;
          width: 8px;
          height: 8px;
          background: $white;
          border-radius: 4px;
          border: 1px solid $font-gray;
          cursor: pointer;
        }

        &.slick-active {
          button {
            width: 24px;
            background: $black;
          }
        }
      }
    }
  }

  @include responsive(L) {
    width: 180px;

    .content-01,
    .content-02 {
      width: 180px;
      height: 180px;
    }
    .slick-dots {
      bottom: 4px;
    }
  }

  @include responsive(XL) {
    width: 206px;

    .content-01,
    .content-02 {
      width: 206px;
      height: 206px;
    }

    .slick-dots {
      bottom: 12px;
    }
  }
}
