.footer {
  letter-spacing: -0.05rem;
  border-top: 1px solid $black;

  .footer-inner {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  .footer-title {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
  }

  .main-service-group {
    font-size: 13px;

    .main-service-list {
      li:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  .wrap-service-group {
    margin-top: 40px;
  }

  .service-group {
    padding: 16px 0;
    border-top: 1px solid $border-gray;

    // overflow: hidden;overflow
    // height: 52px;height

    &:last-child {
      border-bottom: 1px solid $border-gray;
    }

    .title {
      cursor: pointer;

      position: relative;

      display: block;

      width: 100%;

      font-size: 13px;
      font-weight: 600;
      text-align: left;
      letter-spacing: -0.1rem;

      &::after {
        content: "";

        transform: rotate(90deg);

        float: right;
        display: block;

        width: 14px;
        height: 14px;
        margin-top: 4px;
        margin-right: 12px;

        background: url("../../assets/images/footer-arrow.svg") no-repeat;
        background-size: contain;
      }
    }

    .service-list {
      padding-top: 16px;

      li {
        font-size: 13px;
        line-height: 1.5;
        color: $font-gray;
      }

      li:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .wrap-bottom {
    margin-top: 48px;
  }

  .wrap-info-group {
    display: flex;
    flex-wrap: wrap;
  }

  .info-group {
    position: relative;
    width: 50%;
    margin-top: 15px;

    &.is-active {
      .list-box {
        display: block;
      }

      .text::after {
        transform: rotate(-90deg);
        background: url("../../assets/images/footer-arrow.svg");
      }
    }

    .text {
      cursor: pointer;

      position: relative;

      height: 18px;

      font-size: 12px;
      line-height: 18px;
      color: $font-gray;
      letter-spacing: -0.05rem;

      &:hover {
        color: #111;

        &::after {
          transform: rotate(-90deg);
          background: url("../../assets/images/footer-arrow.svg");
        }
      }
    }

    .text.link-emph {
      font-weight: 700;
      color: $dark-black;
    }

    button.text::after {
      content: "";

      position: absolute;
      top: 0;
      right: -12px;
      transform: rotate(90deg);

      display: block;

      width: 9px;
      height: 9px;
      margin-top: 4px;

      background: url("../../assets/images/footer-arrow-gray.svg") no-repeat;
    }

    .list-box {
      position: absolute;
      bottom: 25px;
      left: 0;

      display: none;

      padding: 16px 0;

      color: $font-medium-gray;

      background-color: $bg-gray;
      border-radius: 12px;

      a {
        display: block;
        padding: 0 34px 0 20px;
        font-size: 12px;
        line-height: 18px;

        &:not(:first-child) {
          margin-top: 12px;
        }

        &:hover {
          color: #111;

          span::after {
            background: url("../../assets/images/link-icon.svg") no-repeat;
          }
        }

        span {
          position: relative;
        }

        span::after {
          content: "";

          position: absolute;
          top: 50%;
          right: -14px;
          transform: translateY(-50%);

          display: block;

          width: 9px;
          height: 9px;

          background: url("../../assets/images/footer-link-icon.svg") no-repeat;
        }
      }
    }
  }

  .wrap-relation {
    margin-top: 48px;
  }

  .relation-group {
    cursor: pointer;

    position: relative;

    width: 100%;
    padding: 10px 20px 12px;

    font-size: 12px;

    background: $font-white-gray;
    border-radius: 24px;

    &.is-active {
      .text::after {
        transform: translateY(-50%) rotate(45deg);
      }

      ul {
        display: block;
      }
    }

    .text {
      letter-spacing: -0.05rem;

      &::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);

        display: block;

        width: 14px;
        height: 14px;

        background: url("../../assets/images/ico_plus_gray.svg") no-repeat;
      }
    }

    ul {
      position: absolute;
      bottom: 52px;
      left: 0;

      display: none;

      width: 100%;
      padding: 16px 0;

      background: $font-white-gray;
      border-radius: 12px;

      li {
        padding: 0 20px;

        &:not(:first-child) {
          margin-top: 12px;
        }

        a {
          display: block;
          width: 100%;
          color: $font-medium-gray;

          &:hover {
            color: #111;

            span::after {
              background: url("../../assets/images/link-icon.svg") no-repeat;
            }
          }

          span {
            position: relative;
          }

          span::after {
            content: "";

            position: absolute;
            top: 50%;
            right: -14px;
            transform: translateY(-50%);

            display: block;

            width: 9px;
            height: 9px;

            background: url("../../assets/images/footer-link-icon.svg")
              no-repeat;
          }
        }
      }
    }
  }

  small {
    display: block;

    margin-top: 48px;

    font-size: 13px;
    color: #888;
    letter-spacing: -0.05rem;
  }

  @include responsive(M) {
    .wrap-bottom {
      overflow: hidden;
    }

    .wrap-relation {
      float: right;
      width: 298px;
      margin-top: 58px;
    }

    small {
      float: left;
      clear: both;
      margin-top: -30px;
    }
  }

  @include responsive(L) {
    .footer-title {
      margin-bottom: 20px;
      font-size: 18px;
    }

    .wrap-top {
      display: flex;
      flex-wrap: wrap;
      margin-top: -80px;
    }

    .wrap-bottom {
      margin-top: 120px;
    }

    .main-service-group,
    .service-group {
      margin-top: 80px;
    }

    .main-service-group {
      width: calc(25%);
      font-size: 14px;

      .main-service-list {
        li:not(:last-child) {
          margin-bottom: 8px;
          line-height: 1.8;
        }
      }
    }

    .service-group {
      position: relative;

      width: calc(25%);
      padding: 0;

      font-size: 14px;

      border: none;

      &:nth-child(5) {
        align-self: flex-end;
      }

      &:last-child {
        border: none;
      }

      .title {
        // position: absolute;
        // top: 0;
        margin-bottom: 20px;
        font-size: 14px;

        &::after {
          display: none;
        }
      }

      .service-list {
        // padding-top: 20px;
        padding-top: 0;

        li {
          font-size: 14px;
          line-height: 1.8;
        }
      }
    }

    .wrap-info-group {
      float: left;
      width: 594px;
      margin-top: -6px;
      margin-left: -30px;

      .info-group {
        width: auto;

        // display: inline-block;
        margin-top: 6px;
        margin-left: 30px;
      }
    }

    .wrap-relation {
      width: 208px;
      margin-top: 0;
    }

    small {
      margin-top: 12px;
    }
  }
}
