.header {
  position: sticky;
  top: 0;
  background: $white;

  .header-inner {
    display: flex;
    justify-content: space-between;

    max-width: 412px;
    height: 72px;
    margin: 0 auto;
    padding: 0 14px;
  }

  .logo {
    color: transparent;

    a {
      display: block;

      width: 74px;
      height: 72px;

      background: url("/assets/images/kakao-logo.svg") no-repeat;
      background-size: contain;
    }
  }

  .btn-group {
    flex-shrink: 0;
    font-size: 17px;

    a {
      display: inline-block;
    }

    button,
    a {
      width: 24px;
      height: 74px;
    }

    .search-btn,
    .hamburger-btn {
      cursor: pointer;
    }

    .search-btn {
      background: url("../../assets/images/search-icon.png") no-repeat center;
      background-size: contain;
    }

    .hamburger-btn {
      margin-left: 18px;
      background: url("../../assets/images/hamburger-icon.png") no-repeat center;
      background-size: contain;
    }
  }

  @include responsive(M) {
    .header-inner {
      max-width: 712px;
      padding: 0;
    }
  }

  @include responsive(L) {
    .header-inner {
      max-width: 952px;
      height: 84px;
    }

    .btn-group {
      button,
      a {
        position: relative;
        width: 20px;
        height: 84px;
        color: transparent;
      }

      .search-btn:hover::after,
      .darkmode-btn:hover::after,
      .lang-btn:hover::after {
        content: "";

        position: absolute;
        z-index: -10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: block;

        width: 36px;
        height: 36px;

        background-color: $bg-gray;
        border-radius: 50%;
      }

      .darkmode-btn,
      .lang-btn {
        margin-left: 24px;
      }

      .darkmode-btn {
        vertical-align: top;
        background: url("../../assets/images/moon-icon.png") no-repeat center;
        background-size: contain;
      }

      .lang-btn {
        vertical-align: top;
        background: url("../../assets/images/globe-icon.png") no-repeat center;
        background-size: contain;
      }
    }

    .gnb {
      font-size: 17px;
      font-weight: 400;
      line-height: 84px;
      letter-spacing: -0.05rem;

      .gnb-list {
        display: flex;

        .gnb-item {
          cursor: pointer;
          position: relative;
          padding: 0 20px;
        }

        .gnb-item:hover {
          color: black;
        }

        .gnb-item:hover:last-child::after {
          background: url("../../assets/images/link-icon.svg") no-repeat;
        }

        .gnb-item:last-child::after {
          content: "";

          position: absolute;
          top: 50%;
          right: 5%;
          transform: translateY(-50%);

          display: block;

          width: 9px;
          height: 9px;

          background: url("../../assets/images/link-icon.svg") no-repeat;
        }
      }

      &:hover {
        color: $font-gray;

        .gnb-item:last-child::after {
          background: url("../../assets/images/link-icon-gray.svg") no-repeat;
        }
      }
    }

    .gnb-item.is-active .lnb {
      display: block;

      > li > a:hover {
        font-weight: 600;
      }
    }

    .lnb {
      position: absolute;
      z-index: 10;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);

      display: none;

      height: 48px;
      padding: 0 24.5px;

      color: $font-white-gray;
      white-space: nowrap;

      background-color: black;
      border-radius: 24px;

      li {
        display: inline-block;
        line-height: 48px;
        vertical-align: top;

        a {
          display: inline-block;
        }
      }

      li:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
