.header {
  .header-inner {
    margin: 0 auto;
    max-width: 412px;
    padding: 0 14px;
    height: 72px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    color: transparent;
    a {
      display: block;
      width: 74px;
      height: 72px;
      background: url("/assets/images/kakao-logo.svg") no-repeat;
      background-size: contain;
    }
  }

  .btn-group {
    flex-shrink: 0;
    font-size: 17px;

    a {
      display: inline-block;
    }

    button,
    a {
      width: 24px;
      height: 74px;
    }

    .search-btn,
    .hamburger-btn {
      cursor: pointer;
    }

    .search-btn {
      background: url("../../assets/images/search-icon.png") no-repeat center;
      background-size: contain;
    }

    .hamburger-btn {
      margin-left: 18px;
      background: url("../../assets/images/hamburger-icon.png") no-repeat center;
      background-size: contain;
    }
  }

  @include responsive(M) {
    .header-inner {
      padding: 0;
      max-width: 712px;
    }
  }

  @include responsive(L) {
    .header-inner {
      max-width: 952px;
      height: 84px;
    }

    .btn-group {
      button,
      a {
        width: 20px;
        height: 84px;
        color: transparent;
        position: relative;
      }

      .search-btn:hover::after,
      .darkmode-btn:hover::after,
      .lang-btn:hover::after {
        display: block;
        position: absolute;
        content: "";
        background-color: $bg-gray;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
      }

      .darkmode-btn,
      .lang-btn {
        margin-left: 24px;
      }

      .darkmode-btn {
        background: url("../../assets/images/moon-icon.png") no-repeat center;
        background-size: contain;
        vertical-align: top;
      }
      .lang-btn {
        background: url("../../assets/images/globe-icon.png") no-repeat center;
        background-size: contain;
        vertical-align: top;
      }
    }

    .gnb {
      line-height: 84px;
      letter-spacing: -0.05rem;
      font-weight: 400;
      font-size: 17px;
      .gnb-list {
        display: flex;

        .gnb-item {
          position: relative;
          padding: 0 20px;
          cursor: pointer;
        }

        .gnb-item:hover {
          color: black;
        }
        .gnb-item:hover:last-child::after {
          background: url("../../assets/images/link-icon.svg") no-repeat;
        }
        .gnb-item:last-child::after {
          display: block;
          content: "";
          position: absolute;
          background: url("../../assets/images/link-icon.svg") no-repeat;
          width: 9px;
          height: 9px;
          top: 50%;
          transform: translateY(-50%);
          right: 5%;
        }
      }
      &:hover {
        color: $font-gray;

        .gnb-item:last-child::after {
          background: url("../../assets/images/link-icon-gray.svg") no-repeat;
        }
      }
    }

    .gnb-item.is-active .lnb {
      display: block;

      > li > a:hover {
        font-weight: 600;
      }
    }

    .lnb {
      display: none;
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 24.5px;
      height: 48px;
      white-space: nowrap;
      background-color: black;
      color: $font-white-gray;
      border-radius: 24px;
      z-index: 10;

      li {
        display: inline-block;
        line-height: 48px;
        vertical-align: top;

        a {
          display: inline-block;
        }
      }

      li:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
