.promise {
  max-width: 384px;
  margin: 0 auto;

  .promise-cont {
  }

  .promise-cont-item {
    position: relative;
    width: 100%;
    height: 295px;
    border-radius: 16px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .title {
      position: absolute;
      right: 0;
      padding: 0 0 11px 11px;
      background: $white;
      border-radius: 0 0 0 20px;

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 18px;
        height: 18px;
        background-image: url("../../assets/images/promise-item-rounded.svg");
      }
      &::before {
        top: -2px;
        left: -16px;
      }
      &::after {
        bottom: -16px;
        right: -2px;
      }
    }

    .name {
      display: inline-block;
      width: 186px;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      text-align: center;
      border-radius: 20px;
      letter-spacing: -0.1em;
    }

    img {
      margin-top: -5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 140px;
    }

    .text {
      position: absolute;
      bottom: 24px;
      left: 24px;
      font-size: 16px;
      max-width: 220px;
      line-height: 1.52rem;
      letter-spacing: -0.1em;
      word-break: keep-all;
    }

    .link-button-area {
      position: absolute;
      bottom: 24px;
      right: 24px;

      .link-button {
        display: block;
        background: url("../../assets/images/right-arrow.svg") no-repeat;
        background-size: contain;
        width: 48px;
        height: 48px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .esg {
    background-color: $sky-blue;
    .name {
      background-color: $sky-blue;
    }
  }
  .green {
    background-color: $dark-green;
    .name {
      background-color: $green;
    }
    .text {
      color: $white;
    }
  }
  .policy {
    background-color: $dark-black;
    .name {
      background-color: $yellow;
    }
    .text {
      color: $white;
    }
  }

  @include responsive(M) {
    max-width: 712px;

    .section-title {
      margin-bottom: 24px;
    }
    .section-title::before {
      background: url("../../assets/images/ico_tit_promise.gif") no-repeat;
      background-size: contain;
    }

    .promise-cont {
      display: flex;
      gap: 8px;
    }

    .promise-cont-item {
      height: 341px;
      .title {
        padding: 0 0 12px 12px;
        .name {
          width: 125px;
          height: 32px;
          line-height: 32px;
          font-size: 14px;
        }
      }

      img {
        margin-top: -11px;
      }

      .text {
        bottom: 20px;
        left: 20px;
        max-width: 140px;
        font-size: 17px;
      }

      .link-button-area {
        right: 0;
        bottom: 0;
        padding: 9px 0 0 9px;
        background: #fff;
        border-radius: 20px 0 0 0;

        &::before,
        &::after {
          position: absolute;
          display: block;
          content: "";
          width: 18px;
          height: 18px;
          background-image: url("../../assets/images/promise-item-rounded.svg");
          transform: rotate(90deg);
        }
        &::before {
          right: -2px;
          top: -16px;
        }
        &::after {
          left: -16px;
          bottom: -2px;
        }
      }
    }
  }

  @include responsive(L) {
    max-width: 948px;

    .promise-cont-item {
      height: 397px;

      .title {
        .name {
          width: 168px;
          height: 40px;
          line-height: 40px;
        }
      }

      img {
        height: 180px;
      }

      .text {
        bottom: 24px;
        left: 24px;
        font-size: 17px;
        max-width: 190px;
      }

      .link-button-area {
        padding: 12px 0 0 12px;
      }
    }
  }
}
