.second-widget {
  display: flex;

  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    height: 24px;

    li {
      padding: 8px;
      button {
        display: block;
        width: 8px;
        height: 8px;
        background: $black;
        border-radius: 4px;
        font-size: 0;
        opacity: 0.45;
        cursor: pointer;
      }

      &.slick-active {
        button {
          width: 24px;
          opacity: 1;
        }
      }
    }
  }

  .content-01,
  .content-02,
  .content-03 {
    flex-shrink: 0;
    height: 180px;

    width: 100%;

    background: $bg-gray;
    border-radius: 16px;

    .badge {
      margin-bottom: 8px;
    }

    .title {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 1.5;
    }

    .wrap-tags {
      span {
        font-size: 14px;
        color: $font-medium-gray;
      }
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
      padding: 20px;
    }
  }

  .content-01 {
  }

  .content-02 {
  }

  .content-03 {
  }

  @include responsive(M) {
    width: 232px;

    .content-01,
    .content-02,
    .content-03 {
      height: 232px;

      .title {
        font-size: 15px;
        line-height: 1.4;
        letter-spacing: -0.2px;
        -webkit-line-clamp: 2;
      }

      .wrap-tags {
        span {
          font-size: 13px;
          line-height: 1.38;
          letter-spacing: -0.2px;
        }
      }
    }
  }
  @include responsive(L) {
    width: 180px;

    .content-01,
    .content-02,
    .content-03 {
      height: 170px;

      .title {
        font-size: 14px;
      }
    }

    .slick-dots {
      bottom: 4px;
    }
  }

  @include responsive(XL) {
    width: 206px;

    .content-01,
    .content-02,
    .content-03 {
      height: 259px;
      border-radius: 24px;

      .badge {
        padding: 4px 12px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 1.78;
        letter-spacing: -0.2px;
      }

      .title {
        font-size: 18px;
        letter-spacing: -0.6px;
      }

      .wrap-tags {
        span {
          font-size: 14px;
        }
      }
    }

    .slick-dots {
      bottom: 8px;
    }
  }
}
