.service {
  max-width: 384px;
  margin: 0 auto;
  .service-cont {
    margin-top: 24px;
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    // gap: 12px;
    // justify-content: space-between;
    margin: -12px 0 12px -12px;
    /* 중요!!!!!!!!!!!!! margin
    li에 줬던 마진을 다시 빼줌 ?? */
  }

  .service-item {
    margin: 12px 0 0 12px;
    position: relative;
    // display: flex;
    // flex-direction: column;
    // gap: 20px;
    padding: 20px 20px 82px;
    // width: 50%;
    width: calc(50% - 12px);
    border-radius: 16px;
    background: $bg-gray;
    letter-spacing: -0.1rem;

    .items-box {
      position: absolute;
      left: 20px;
      bottom: 20px;
      display: flex;
      // white-space: nowrap;
      gap: 4px;

      .item {
        display: block;
        width: 46px;
        height: 46px;
        color: transparent;
        background-size: cover;

        &:last-child {
          background: url(../../assets/images/service-link-btn.svg) no-repeat;
          background-size: contain;
        }
      }
    }
  }

  @include responsive(M) {
    max-width: 712px;

    .section-title::before {
      background: url("../../assets/images/ico_tit_service.gif") no-repeat;
      background-size: contain;
    }

    .service-cont {
      text-align: center;
    }

    .service-list {
      margin: -8px 0 0 -8px;
      margin-bottom: 24px;
    }

    .service-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 24px;
      margin: 8px 0 0 8px;
      font-size: 18px;

      .items-box {
        position: static;
        gap: 9px;
      }
    }
  }

  @include responsive(L) {
    max-width: 948px;

    .service-list {
      margin: -12px 0 0 -12px;
      margin-bottom: 40px;
    }

    .service-item {
      margin: 12px 0 0 12px;
      border-radius: 24px;
      .items-box {
        gap: 8px;
      }
    }
  }

  // @include responsive(XL) {
  //   max-width: ;

  //   .service-list {
  //     max-width: -16px 0 0 -16px;
  //     margin-bottom: 120px;
  //   }
  // }
}
