.sm-news-card {
  @extend %card;

  width: 100%;
  height: 152px;
  padding: 20px;

  .info {
    margin-bottom: 4px;

    .ico-cate {
      width: 32px;
      height: 32px;
      margin-right: 4px;
    }

    .date {
      margin-left: 8px;
      font-size: 12px;
      color: $dark-black;
    }
  }

  .link-area {
    display: block;
    margin: 0 -20px;
  }

  .title {
    height: 78px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: -0.7px;
    -webkit-line-clamp: 3;
  }

  @include responsive(M) {
    height: 186px;

    .info {
      margin-bottom: 12px;

      .ico-cate {
        width: 24px;
        height: 24px;
      }
    }

    .title {
      font-size: 17px;
    }
  }

  @include responsive(L) {
    height: 142px;
    padding: 24px;
    border-radius: 20px;

    .info {
      margin-bottom: 4px;

      .ico-cate {
        width: 38px;
        height: 38px;
        margin-right: 12px;
      }

      .date {
        margin-left: 12px;
      }
    }

    .link-area {
      margin: 0 -24px;
    }

    .title {
      -webkit-line-clamp: 2;
    }
  }

  @include responsive(XL) {
    height: 198px;
    padding: 36px;

    .info {
      margin-bottom: 12px;

      .ico-cate {
        width: 38px;
        height: 38px;
      }

      .date {
        margin-left: 12px;
        font-size: 14px;
      }

      .share-button {
        top: 20px;
        right: 0;
      }
    }

    .link-area {
      margin: 0 -36px;
    }

    .title {
      font-size: 26px;
    }
  }
}
