.story-card {
  @extend %card;

  width: 252px;
  padding: 21px 20px 0;
  margin: 0 6px;

  .info {
    height: 32px;

    .ico-cate {
      width: 32px;
      height: 32px;
      margin-right: 4px;
    }
  }

  .link-area {
    display: block;
    margin: 0 -20px;
  }

  .title,
  .tags-group {
    padding: 0 20px;
  }

  .title {
    height: 48px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -0.5px;
    -webkit-line-clamp: 2;
  }

  .sub-text {
    display: none;
  }

  .tags-group {
    margin: 20px 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;

    span:not(:last-child) {
      margin-right: 4px;
    }
  }

  .thumb {
    height: 141px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .wrap-img {
    display: none;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include responsive(M) {
    width: 232px;
    margin: 0 4px;

    .title {
      height: 84px;
      font-size: 18px;
    }

    .tags-group {
      margin: 18px 0;
      font-size: 13px;
      line-height: 18px;
    }

    .thumb {
      height: 130px;
    }
  }

  @include responsive(L) {
    width: 308px;
    padding: 24px 24px 0;
    margin: 0 6px;

    .link-area {
      margin: 0 -24px;
    }

    .title,
    .tags-group {
      padding: 0 24px;
    }

    .title {
      height: 56px;
      margin-top: 16px;
    }

    .thumb {
      height: 174px;
    }
  }

  @include responsive(XL) {
    width: 317px;
    padding: 30px 30px 0;
    margin: 0 8px;

    &.reverse {
      padding: 179px 30px 0 30px;

      .info {
        margin-top: 30px;
      }

      .thumb {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
    }

    &.wide {
      display: flex;
      width: auto;
      height: 100%;
      padding: 0;

      .wrap-text {
        width: 332px;
        padding: 30px;
      }

      .thumb {
        display: none;
      }

      .wrap-img {
        display: block;
      }

      &.wide-kakao-map {
        .wrap-img {
          width: 439px;
        }
      }

      &.wide-kakao-channel {
        .wrap-img {
          width: 778px;
        }
      }

      .title {
        height: auto;
        -webkit-line-clamp: 3;
      }

      .sub-text {
        display: block;
        height: 162px;
        padding: 0 30px;
        margin-top: 12px;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: -0.5px;
        color: $font-medium-gray;
      }

      .tags-group {
        position: absolute;
        bottom: 20px;
        margin: 0;
      }
    }

    .link-area {
      margin: 0 -30px;
    }

    .badge {
      font-size: 14px;
    }

    .title {
      height: 108px;
      padding: 0 30px;
      font-size: 26px;
      line-height: 1.38;
      letter-spacing: -0.6px;
    }

    .tags-group {
      padding: 0 30px;
      margin: 28px 0 20px 0;
      font-size: 16px;
      line-height: 26px;
    }

    .thumb {
      height: 179px;
    }
  }
}
