.third-widget {
  display: flex;

  .content-01,
  .content-02 {
    flex-shrink: 0;
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 24px;

    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  .content-01 {
    background-color: $yellow;

    img {
      display: block;
      margin-bottom: 8px;
    }
  }

  .content-02 {
    position: relative;
    background: url('assets/images/widget/widget_history.webp') no-repeat center;
    background-size: contain;

    /* overlay */
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      background: $black;
      content: '';
      opacity: 0.2;
    }

    .title {
      position: relative;
      color: $white;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 32px;
    height: 32px;
    font-size: 0;
    cursor: pointer;
    transform: translateY(-50%);

    &.slick-next {
      right: 12px;
      background: url('assets/images/icon/ic_slide_next_white.svg') no-repeat;
      background-size: contain;
    }

    &.slick-prev {
      left: 12px;
      background: url('assets/images/icon/ic_slide_prev_white.svg') no-repeat;
      background-size: contain;
    }
  }

  @include responsive(M) {
    width: 232px;

    .content-01,
    .content-02 {
      height: 232px;
      border-radius: 16px;
    }

    .slick-arrow {
      width: 24px;
      height: 24px;
    }
  }

  @include responsive(L) {
    width: 192px;

    .content-01,
    .content-02 {
      position: relative;
      height: 120px;
      border-radius: 16px 0 0 16px;

      /* 말풍선 */
      &::after {
        position: absolute;
        top: -2px;
        right: -2px;
        display: block;
        width: 28px;
        height: 124px;
        background: url('assets/images/icon/shape_bubble_sm.svg') no-repeat;
        content: '';
      }
    }

    .content-01 {
      img {
        width: 40px;
        height: 40px;
        margin-bottom: 4px;
        transform: translateX(-10%);
      }

      .title {
        display: block;
        transform: translateX(-5%);
      }
    }

    .slick-arrow {
      &.slick-next {
        right: 22px;
      }
    }
  }

  @include responsive(XL) {
    width: 215px;

    .content-01,
    .content-02 {
      position: relative;
      height: 124px;
      border-radius: 24px 0 0 24px;

      &::after {
        width: 36px;
        height: 128px;
        background: url('assets/images/icon/shape_bubble_lg.svg') no-repeat;
      }

      .title {
        font-size: 22px;
        line-height: 1.36;
        letter-spacing: -0.6px;
      }
    }
  }
}
