.visual-video-area {
  .visual-video-cont {
    position: relative;
    overflow: hidden;
    height: 250px;
    border-radius: 16px;

    .visual-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 100%;
    }
  }
  .link-banner {
    @include rounded-corner(top);

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: flex-start;

    padding: 5px 0 6px 11px;

    background: $white;
    border-radius: 0 0 0 16px;

    .text {
      position: relative;

      padding: 12px 20px;

      font-size: 12px;
      line-height: 1.7;
      color: $white;
      letter-spacing: -0.02rem;

      background: $black;
      border-radius: 12px;

      &::after {
        content: '';

        position: absolute;
        right: -3px;
        bottom: 1px;

        display: block;

        width: 10.5px;
        height: 13px;

        background: url('../../assets/images/icon/ic_bubble_tail.svg') no-repeat;
      }
    }

    .icon {
      width: 46px;
      height: 46px;
    }
  }

  .visual-title-cont {
    margin-bottom: 20px;
    padding: 20px 14px 0;

    .main-title {
      display: block;
      margin-bottom: 8px;
      font-size: 26px;
      line-height: 1.38;
    }

    .sub-title {
      font-size: 15px;
    }
  }

  .round-link-btn {
    letter-spacing: -0.6px;
  }

  @include responsive(M) {
    position: relative;

    .visual-video-cont {
      height: 405px;
      border-radius: 20px 0 20px 20px;
    }

    .link-banner {
      border-radius: 0 0 0 20px;
      padding: 0 0 5px 11px;

      .text {
        font-size: 14px;
        padding: 9px 16px;
        vertical-align: top;
      }

      .icon {
        width: 48px;
        height: 48px;
      }
    }

    .visual-title-cont {
      position: absolute;
      width: 400px;
      left: 50px;
      top: 50px;
      margin: 0;
      padding: 0;
      color: $white;

      .main-title {
        font-size: 32px;
        letter-spacing: -0.8;
      }
    }

    .round-link-btn {
      position: absolute;
      bottom: 0;
      padding: 15px 28px 16px;
      width: auto;
      height: auto;
      border-radius: 0 20px 0 0;
      line-height: 24px;

      background: $white;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        transform: rotate(-180deg);
        width: 22px;
        height: 22px;
        background-image: url('../../assets/images/icon/shape_rounded.svg');
      }

      &::before {
        bottom: -2px;
        right: -20px;
      }

      &::after {
        top: -20px;
        left: -14px;
      }
    }
  }

  @include responsive(L) {
    .visual-video-cont {
      height: 486px;
    }

    .link-banner {
      padding: 5px 5px 6px 17px;
      z-index: $link-banner-level;

      &:hover {
        .text {
          display: block;
        }
      }

      .text {
        position: absolute;
        display: none;
        padding: 12px 16px;
        white-space: nowrap;
        top: -31px;
        left: 14px;

        &::after {
          width: 12px;
          height: 12px;
          left: 20px;
          bottom: -8px;
        }
      }

      .icon {
        width: 60px;
        height: 60px;
      }
    }

    .round-link-btn {
      img {
        margin-left: 8px;
      }
    }

    .visual-title-cont {
      left: 80px;
      top: 80px;
    }
  }

  @include responsive(XL) {
    .visual-video-cont {
      height: 621px;
      border-radius: 36px 0 36px 0;
    }

    .link-banner {
      padding: 2px 17px 15px;
      border-radius: 0 0 0 36px;
      .icon {
        width: 82px;
        height: 82px;
      }

      &::after,
      &::before {
        display: block;
        position: absolute;
        content: '';
        width: 38px;
        height: 38px;
        background: url('../../assets/images/icon/shape_rounded.svg');
      }

      &::before {
        top: -4px;
        left: -34px;
      }

      &::after {
        bottom: -34px;
        right: -4px;
      }

      .text {
        top: -56px;
      }
    }

    .round-link-btn {
      line-height: 48px;
      font-size: 22px;
      letter-spacing: -0.6px;
      padding: 23px 23px 28px;
      border-radius: 0 36px 0 0;

      img {
        width: 48px;
        height: 48px;
        margin-left: 16px;
      }

      &::after,
      &::before {
        width: 36px;
        height: 36px;
      }

      &::before {
        bottom: -4px;
        right: -32px;
      }

      &::after {
        top: -32px;
        left: -16px;
      }
    }

    .visual-title-cont {
      left: 80px;
      top: 80px;
    }
  }
}
