.desktop-only {
  @media screen and (width <= 1023px) {
    display: none !important;
  }
}

.desktop-hidden {
  @media screen and (width >= 1025px) {
    display: none !important;
  }
}

.large-hidden {
  @media screen and (min-width: 1023px) {
    display: none !important;
  }
}
