%badge {
  display: inline-block;

  padding: 4px 12px;

  font-size: 12px;
  line-height: 1.2rem;
  letter-spacing: -0.05rem;

  border-radius: 8px;
}

.badge-black {
  @extend %badge;

  color: $white;
  background: $black;
}

.badge-white {
  @extend %badge;

  color: $black;
  background: $white;
}

.badge-yellow {
  @extend %badge;

  color: $black;
  background: $yellow;
}
