%card {
  position: relative;
  overflow: hidden;
  background: $bg-gray;
  border-radius: 16px;

  .info {
    position: relative;
    display: flex;
    align-items: center;
  }

  .share-button {
    position: absolute;
    top: 37px;
    right: 13px;
    z-index: 40;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transform: translateY(-50%);

    &.is-disabled {
      opacity: 0;
    }
  }

  .title {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    word-break: keep-all;
    -webkit-box-orient: vertical;
  }
}
