.logo {
  a {
    display: block;
    width: 74px;
    height: 72px;
    background: url('assets/images/logo.svg') no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.darkmode-btn {
  display: inline-block;
  vertical-align: top;
  background: url('assets/images/icon/ic_moon.png') no-repeat center;
  background-size: contain;
}

.lang-btn {
  display: inline-block;
  vertical-align: top;
  background: url('assets/images/icon/ic_globe.png') no-repeat center;
  background-size: contain;
}
