%section-title-base {
  margin-bottom: 24px !important;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.1rem;

  @include responsive(M) {
    display: flex;
    align-items: center;
    font-size: 32px;
    line-height: 48px;

    &::before {
      content: "";

      display: block;

      width: 48px;
      height: 48px;
      margin-right: 4px;
    }
  }

  @include responsive(XL) {
    margin-bottom: 43px !important;
    font-size: 48px;
    line-height: 72px;

    &::before {
      width: 72px;
      height: 72px;
      margin-right: 16px;
    }
  }
}

.section-title {
  @extend %section-title-base;
}
