.section-title {
  margin-bottom: 24px !important;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -2px;
  word-break: keep-all;

  @include responsive(M) {
    display: flex;
    align-items: center;
    font-size: 32px;
    line-height: 48px;

    &::before {
      display: block;
      width: 48px;
      height: 48px;
      margin-right: 4px;
      content: '';
    }
  }

  @include responsive(XL) {
    margin-bottom: 43px !important;
    font-size: 48px;
    line-height: 72px;

    &::before {
      width: 72px;
      height: 72px;
      margin-right: 16px;
    }
  }
}
