.direct-link {
  position: relative;

  a {
    position: absolute;
    top: -999px;
    padding: 5px 10px;
    font-weight: 700;
    line-height: 21px;
    color: #fff;
    background: #333;

    &:focus {
      top: 0;
      z-index: 2000;
    }
  }
}
