/* main layout */
.header,
.main,
.footer {
  padding: 0 $sm-margin;

  @include responsive(M) {
    padding: 0;
  }
}

.section:not(.section-story),
.footer-inner {
  max-width: 384px;
  margin: 0 auto;

  @include responsive(M) {
    max-width: 712px;
    padding: 0;
  }

  @include responsive(L) {
    max-width: 948px;
  }

  @include responsive(XL) {
    max-width: 1316px;
  }
}

/* section 별 간격, 모바일에서 스크롤 생김 방지 */

.section:not(.section-visual) {
  padding-top: 80px;
}

.main {
  padding-bottom: 80px;
  overflow: hidden;

  @include responsive(M) {
    overflow: visible;
  }
}

/* section-story 예외 처리 */

.section-story .section-title-wrapper {
  max-width: 384px;
  margin: 0 auto;

  @include responsive(M) {
    max-width: 712px;
    padding: 0;
  }

  @include responsive(L) {
    max-width: 948px;
  }

  @include responsive(XL) {
    max-width: 1316px;
  }
}
