/* main layout */
.header,
.main,
.footer {
  padding: 0 $sm-margin;

  @include responsive(M) {
    padding: 0;
  }
}

.header-inner,
.section:not(.section-story),
.footer-inner {
  max-width: $sm-inner-width;
  margin: 0 auto;

  @include responsive(M) {
    max-width: $md-inner-width;
    padding: 0;
  }

  @include responsive(L) {
    max-width: $lg-inner-width;
  }

  @include responsive(XL) {
    max-width: $xl-inner-width;
  }
}

/* section 별 간격, 모바일에서 스크롤 생김 방지 */

.section:not(.section-visual) {
  padding-top: 80px;
}

.main {
  padding-bottom: 80px;
  overflow: hidden;
  transition: transform 0.7s ease;

  @include responsive(M) {
    overflow: visible;
  }
}

/* section-story 예외 처리 */

.section-story .section-title-wrapper {
  max-width: 384px;
  margin: 0 auto;

  @include responsive(M) {
    max-width: 712px;
    padding: 0;
  }

  @include responsive(L) {
    max-width: 948px;
  }

  @include responsive(XL) {
    max-width: 1316px;
  }
}

/* search-modal - active 시 */

body.open-search {
  overflow-y: scroll;

  .container {
    height: calc(100vh - 72px);
    overflow: hidden;
  }

  .main {
    transform: translateY(220px);
  }

  .footer {
    display: none;
  }

  @include responsive(M) {
    .container {
      height: calc(100vh - 84px);
    }

    .main {
      transform: translateY(260px);
    }
  }

  @include responsive(L) {
    .main {
      transform: translateY(310px);
    }
  }

  @include responsive(XL) {
    .container {
      height: calc(100vh - 84px);
    }
  }
}

body.open-sidebar-gnb {
  overflow-y: hidden;
}
