.main-content,
.footer {
  padding: 0 14px;
}

.main-content {
  padding-bottom: 80px;
  overflow-x: hidden;
}

.section:not(.section-story),
.footer-inner {
  max-width: 384px;
  margin: 0 auto;

  @include responsive(M) {
    max-width: 712px;
    padding: 0;
  }

  @include responsive(L) {
    max-width: 948px;
  }

  @include responsive(XL) {
    max-width: 1316px;
  }
}

.section:not(.section-visual) {
  padding-top: 80px;
}

.section-story .section-title-wrapper {
  max-width: 384px;
  margin: 0 auto;

  @include responsive(M) {
    max-width: 712px;
    padding: 0;
  }

  @include responsive(L) {
    max-width: 948px;
  }

  @include responsive(XL) {
    max-width: 1316px;
  }
}
