.section-story {
  .story-slide-list {
    display: flex;
  }

  .js-marquee-wrapper,
  .js-marquee {
    display: flex;
  }

  .slide-button-wrapper {
    position: relative;
    height: 32px;
    margin: 0 auto 20px auto;
  }

  .slide-button {
    position: absolute;
    top: 50%;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url('../../assets/images/icon/ic_pause.svg') no-repeat;
    background-size: contain;
    transform: translateY(-50%);

    &.is-paused {
      background: url('../../assets/images/icon/ic_play.svg') no-repeat;
      background-size: contain;
    }
  }

  @include responsive(M) {
    position: relative;

    .section-title::before {
      background-image: url('../../assets/images/kakao-icon/ico_tit_story.gif');
      background-size: contain;
    }

    .slide-button-wrapper {
      position: absolute;
      top: 80px;
      right: 0;
      width: 32px;
      height: 48px;
    }
  }

  @include responsive(XL) {
    .slide-button-wrapper {
      height: 72px;
    }

    .slide-button {
      width: 56px;
      height: 56px;
    }
  }
}
