.section {
  max-width: 384px;
  margin: 0 auto;
  padding-top: 80px;

  @include responsive(M) {
    max-width: 712px;
  }
  @include responsive(L) {
    max-width: 948px;
  }
}

.footer-wrapper {
  max-width: 384px;
  margin: 0 auto;

  @include responsive(M) {
    max-width: 712px;
  }
  @include responsive(L) {
    max-width: 948px;
  }
}

main {
  padding-top: 72px;
  padding-bottom: 80px;

  @include responsive(L) {
    padding-top: 84px;
  }
}
