.section-story {
  .section-title-wrapper {
    padding: 0 14px;
  }

  .section-content {
    position: relative;
  }

  .slide-button-wrapper {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
  }

  .slide-button {
    position: absolute;
    top: 50%;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url('../assets/icon/ic_pause.svg') no-repeat;
    background-size: contain;
    transform: translateY(-50%);

    &.is-paused {
      background: url('../assets/icon/ic_play.svg') no-repeat;
      background-size: contain;
    }
  }

  .story-slide-wrapper {
    display: flex;
  }

  .story-slide-list {
    display: flex;

    &:first-child {
      animation: rolling 180s linear infinite;
    }

    &:last-child {
      animation: clone-rolling 180s linear infinite;
    }
  }

  @include responsive(M) {
    position: relative;

    .section-title-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }

    .section-title::before {
      background-image: url('../assets/kakao-icon/ico_tit_story.gif');
      background-size: contain;
    }

    .slide-button-wrapper {
      width: 32px;
      height: 48px;
    }
  }

  @include responsive(XL) {
    .slide-button-wrapper {
      height: 72px;
    }

    .slide-button {
      width: 56px;
      height: 56px;
    }
  }
}

@keyframes rolling {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  50.01% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes clone-rolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}
