.section-service {
  .service-list {
    display: flex;
    flex-wrap: wrap;

    margin: -12px 0 12px -12px;

    font-size: 16px;
    font-weight: 600;

    /* 중요!!!!!!!!!!!!! margin
    li에 줬던 마진을 다시 빼줌 ?? */
  }

  .service-item {
    position: relative;

    flex: 1 1 40%;
    margin: 12px 0 0 12px;

    padding: 20px 20px 82px;

    letter-spacing: -0.1rem;

    background: $bg-gray;
    border-radius: 16px;

    .link-group {
      position: absolute;
      bottom: 20px;
      left: 20px;

      display: flex;

      gap: 4px;

      .item {
        display: block;

        width: 46px;
        height: 46px;

        color: transparent;

        background-size: cover;

        &:last-child {
          background: url("../../assets/images/service-link-btn.svg") no-repeat;
          background-size: contain;
        }

        &:last-child:hover {
          background: url("../../assets/images/service-link-btn-black.svg")
            no-repeat;
          background-size: contain;
        }
      }
    }
  }

  @include responsive(M) {
    .section-title::before {
      background: url("../../assets/images/ico_tit_service.gif") no-repeat;
      background-size: contain;
    }

    .section-content {
      text-align: center;
    }

    .service-list {
      margin: -8px 0 0 -8px;
      margin-bottom: 24px;
    }

    .service-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: 8px 0 0 8px;
      padding: 32px 24px;

      font-size: 18px;

      .link-group {
        position: static;
        gap: 9px;
      }
    }
  }

  @include responsive(L) {
    .service-list {
      margin: -12px 0 0 -12px;
      margin-bottom: 40px;
    }

    .service-item {
      margin: 12px 0 0 12px;
      border-radius: 24px;
      padding: 32px 36px;

      .link-group {
        gap: 8px;
      }
    }
  }

  @include responsive(XL) {
    .service-list {
      margin: -16px 0 0 -16px;
      margin-bottom: 40px;
    }

    .service-item {
      margin: 16px 0 0 16px;
      height: 160px;
      padding: 52px 42px;
      font-size: 30px;

      .link-group {
        gap: 12px;

        .item {
          width: 56px;
          height: 56px;
        }
      }
    }
  }
}
