$direct-link-level: 2000;

$header-level: 1000;
$header-scrolled-level: 1200;
$link-banner-level: 1100;

$lnb-level: 10;
$share-overlay-level: 100;

$sidebar-gnb-level: 3000;
$search-modal-level: 3000;
