$baseBackground: #fff;
$baseBackground1: rgba(255, 255, 255, 0.9);
$baseForeground: #000;
$colorBg1: #eee;
$colorBg2: #eee;
$colorBg3: #fff;
$colorBg4: #111;
$colorBg5: #eee;
$colorBg6: #f4f4f4;
$colorBg9: #333;
$colorBg10: #fff;
$colorBg11: #1a1a1a;
$colorBg12: #444;
$colorBg13: #dfdfdf;
$colorBg14: #333;
$colorBg15: #000;
$colorBg16: #000;
$colorBg17: #000;
$colorBg18: #f7f7f7;
$colorBg19: #d5d5d5;
$colorFg1: #333;
$colorFg2: #111;
$colorFg3: #000;
$colorFg4: #000;
$colorFg5: #666;
$colorFg6: #666;
$colorFg7: #333;
$colorFg8: #ededed;
$colorFg9: #333;
$colorFg10: #333;
$colorFg11: #666;
$colorFg12: #666;
$colorFg13: #888;
$colorFg14: #888;
$colorFg15: #bbb;
$colorFg16: #e6e6e6;
$colorFg17: #ebebeb;
$colorFg18: #666;
$colorFg19: #ededed;
$colorFg20: #d8d8d8;
$colorFg21: #fff;
$colorFg22: #d8d8d8;
$colorFg23: #888;
$colorFg24: #666;
$colorFg25: #666;
$colorFg26: #333;
$colorFg27: #666;
$colorFg28: #333;
$colorFg29: #000;
$colorFg30: #ebebeb;
$colorFg31: #666;
$colorFg32: #333;
$colorFg33: #e0e0e0;
$colorFg34: #f7f7f7;
$colorFg35: #666;
$colorFg36: #333;
$colorFg37: #000;
$colorFg38: #434443;
$colorFg39: #000;
$colorFg40: #666;
$colorFg41: #d2d2d2;
$colorFg42: #d2d2d2;
$colorFg43: #f3f3f3;
$colorFg44: #fff;
$colorFg45: #666;
$colorFg46: #888;
$colorFg47: #666;

$white: #fff;
$black: #000;
$dark-black: #333;

$bg-gray: #f3f3f3;

$font-gray: #888;
$font-white-gray: #eee;

$blue: #0073ff;
$sky-blue: #89dcff;
$yellow: #fae100;
$green: #1ed47e;
$dark-green: #03502b;
