$white: #fff;
$black: #000;
$dark-black: #333;
$bg-gray: #f3f3f3;
$border-gray: #e6e6e6;
$font-medium-gray: #666;
$font-gray: #888;
$font-white-gray: #eee;
$blue: #0073ff;
$sky-blue: #89dcff;
$yellow: #fae100;
$green: #1ed47e;
$dark-green: #03502b;
