@import './base/reset';
@import './base/globals';

@import './constants/colors';
@import './constants/z-indexes';

@import './mixins/responsive';
@import './mixins/rounded-corner';

@import './modules/icons';
@import './modules/section-title';
@import './modules/link-button';
@import './modules/badge';
@import './modules/card';
@import './modules/tags-group';
@import './modules/share-overlay';

@import './layouts/page-layouts';
@import './layouts/header';
@import './layouts/section-visual';
@import './layouts/section-story';
@import './layouts/section-service';
@import './layouts/section-news';
@import './layouts/section-responsible';
@import './layouts/section-help';
@import './layouts/footer';
@import './layouts/sidebar-gnb';

@import './components/gnb';
@import './components/visual-video-area';
@import './components/first-widget';
@import './components/second-widget';
@import './components/third-widget';
@import './components/news-card';
@import './components/sm-news-card';
@import './components/share-overlays';
@import './components/customer-center-box';
@import './components/color-box';
@import './components/ect-box';
@import './components/story-card';
@import './components/responsible-box';

@import './components/service-group';
@import './components/info-group';
@import './components/relation-group';
